* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* Mobile Section*/

html,
body,
{
    height: 100%;
    width: 320px;
}
.container {
    height: 100%;
    width: 100%;
}
/* Option-box Section*/

.option-box {
    border: 1px solid #999;
    border-radius: 3px;
    height: 40%;
    float: right;
    text-align: center;
    width: 100%;
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
}
input {
    font-size: 12px;
    width: 93%;
}
h1,
h3 {
    color:  #33b5e5;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: left;
    font-family: "PT Serif";
    padding: 2px;
}

.search {
    color: white;
    margin-top: 10px;
    

}
form input {
    height: 24px;
    margin: 0;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    margin-left: 15px;
    margin-top: 15px;
}
#Restaurant-list {
    list-style-type: none;
    margin: 10px;
    margin-left: 15px;
    padding: 0;
}
li {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
    cursor: pointer;
}
li:hover {
    background-color: #0099cc;
    
}
li:active {
    color: black;
}

/* End-Option-box Section*/
/* Map Section*/

    .map-box {
        height: 50%;
        width: 90%;
        box-shadow: 10px 10px 5px #888888;
        border: 2px solid #D3D3D3;
        bottom: 6px;
        left: 18px;
        position: absolute;
}
#map {
    height: 100%;
}
/*End - Map Section*/

#pano {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
.text {
    font-size: 12px;
    color: white;
}
/* End - Mobile Section*/
/* Media Query section For large screen*/
@media screen and (min-width: 700px) {
      input {
    
    width: 90%;
    padding-left: 50px;


    }
    form input {
        
        margin-left: 50px;
        
       
    }
    #Restaurant-list {
        width: 90%;
        margin-left: 50px;
        

    }

        .map-box {
            height: 50%;
            width: 90%;
            box-shadow: 10px 10px 5px #888888;
            border: 2px solid #D3D3D3;
            bottom: 10px;
            left: 50px;
            position: absolute;
    }
}
@media screen and (min-width: 900px) {

      input {
    
    width: 220px;
    


}
form input {
    
    margin-left: 25px;
    
   
}


li {
    width: 220px;
   margin-left: -25px;

}
        
   
    .map-box {
        border: 1px solid #999;
        border-radius: 3px;
        height: 98%;
        width: 80%;
        box-shadow: 10px 10px 5px #888888;
        border: 2px solid #D3D3D3;
        bottom: 0px;
        left: 280px;
        position: absolute;
    }
}

/* End - Media Query section For large screen*/